.swiper-container {
    padding: 200px 0;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    width: 100vw;
}

.swiper-wrapper {
    align-items: center;
    max-height: 650px;
    width: 100vw;
}

.image {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.swiper-button-next {
    background-image: url("./images/arr_right.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 90%;
    padding: 0 15px;
    outline-style: none;
    z-index: 1;
    transition: all 0.4s ease-out;
}

.swiper-button-prev {
    background-image: url("./images/arr_left.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 90%;
    right: 60px;
    left: auto;
    padding: 0 15px;
    outline-style: none;
    z-index: 1;
    transition: all 0.4s ease-out;
}

.swiper-button-next:hover {
    right: 2px;
    transition: all 0.4s ease-out;
}

.swiper-button-prev:hover {
    right: 66px;
    transition: all 0.4s ease-out;
}

.swiper-button-next:focus, .swiper-button-prev:focus {
    border: none;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: '';
}

.swiper-slide.swiper-slide {
    transform: scale(1);
    transition: 400ms ease-in-out;
}

.swiper-slide.swiper-slide-active {
    position: relative;
    transform: scale(1.4);
    z-index: 20;
}

@media screen and (max-width: 1024px) {
    .swiper-slide.swiper-slide-active {
        transform: scale(1.6);
    }
}

@media screen and (max-width: 900px) {
    .swiper-slide.swiper-slide-active {
        transform: scale(1.7);
    }
}

@media screen and (max-width: 840px) {
    .swiper-container {
        padding-bottom: 140px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .swiper-slide.swiper-slide-active {
        transform: scale(1.8);
    }
}

@media screen and (max-width: 600px) {
    .swiper-container {
        padding-bottom: 100px;
    }

    .swiper-slide.swiper-slide-active {
        transform: scale(2);
    }
}

@media screen and (max-width: 480px) {
    .swiper-container {
        padding: 100px 0;
    }

    .swiper-slide.swiper-slide {
        transform: scale(2.2);
        transition: 250ms ease-in-out;
    }

    .swiper-slide.swiper-slide-active {
        transform: scale(3.6);
    }
}

@media screen and (max-width: 360px) {
    .swiper-slide.swiper-slide {
        transform: scale(3);
    }

    .swiper-slide.swiper-slide-active {
        transform: scale(4.3);
    }
}