.black {
    background-color: #000;
}

.container {
    padding: 24px;
    max-width: 1440px;
    margin: 0 auto;
}

.wrap {
    padding: 181px 128px;
}

@media screen and (max-width: 1170px) {
    .wrap {
        padding: 0 0 150px 0;
    }
}
