.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    padding: 160px 0 120px 0;
}

.grid {
    display: grid;
    grid-template-columns: 33% 20% 14% 33%;
    grid-template-areas:
            "aaa bbb bbb ..."
            "aaa arrow arrow ..."
            "aaa ... ccc ccc"
            "... ... ccc ccc";
}


@media screen and (max-width: 1280px) {
    .container {
        padding: 130px 0 120px 0;
    }
}

@media screen and (max-width: 1008px) {
    .grid {
        grid-template-columns: 33% 28% 16% 23%;
    }
}

@media screen and (max-width: 914px) {
    .grid {
        grid-template-columns: 33% 28% 20% 19%;
    }
}

@media screen and (max-width: 895px) {
    .grid {
        grid-template-columns: 40% 20% 29%;
    }
}

@media screen and (max-width: 780px) {
    .grid {
        grid-template-columns: 40% 40% 20%;
        grid-template-areas:
        "aaa aaa ..."
        "bbb bbb ..."
        "arrow ccc ccc";
    }
}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 40% 50% 10%;
    }
}

@media screen and (max-width: 470px) {
    .grid {
        grid-template-columns: 40% 50% 10%;
    }
}

@media screen and (max-width: 440px) {
    .grid {
        grid-template-columns: 30% 60% 10%;
        grid-template-areas:
        "aaa aaa ..."
        "bbb bbb ..."
        "arrow ... ..."
        "ccc ccc ccc";
    }
}
